* {
    box-sizing: border-box;
}
body, html {
    overflow: hidden;
}
body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/8/85/X-RayFlare-BlackHole-MilkyWay-20140105.jpg); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }
.title {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    outline: 0;
    font-weight: bold;
    border-radius: 30px;
    padding: 12px 34px;
    font-size: 28px;
    line-height: 30px;
  text-decoration: none;
  color: #fff;
  background: rgb(126, 128, 238);
  }
  .category {
    color: #fff;
    font-size: 24px;
    border-radius: 30px;
    background: #004D92;
  }
  
  .wrap {
    margin: 10% auto;
    padding: 0;
    display: block;
    text-align: center;  
    position: relative;
  }
  .label {
    color: orchid;
  }
  #hiddenWord {
    letter-spacing: 10px;
    color: rgb(8, 143, 91);
    font-weight: bold;
    font-size: 52px;
    
  }
  #guessedWords {
    letter-spacing: 5px;
    color:rgb(8, 143, 91);
    font-size: 18px;
  }
  .lives {
    color:#00FF9F;
  }
  #newGame {
    color: #2799FF;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(60, 78, 99);
    color: white;
    text-align: center;
  }

  #fuckcopyright{
    text-align: center;
    color:white;
  }