* {
    box-sizing: border-box;
}
body, html {
    overflow: hidden;
}
body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/8/85/X-RayFlare-BlackHole-MilkyWay-20140105.jpg);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  
.title  {
    color: blueviolet;
}  

.hint {
    color: yellowgreen;
}

.wrap {
    margin: 15% auto;
    padding: 0%;
    display: block;
    text-align: center;
    position: relative;

}
.label {
    color: pink;
}
#wordHidden {
    letter-spacing: 8px;
    color: green;
    font-weight: bold;
}

.guessedWords {
    letter-spacing: 5px;
    color: blue;
}
.lives {
    color: orange;
}

#newGame {
    color: orchid;
}